.signup-card {
  width: 400px;
  border-radius: 25px;
  background-color: rgba(6, 3, 0, 0.8) !important;
  margin: auto;
  animation: fadeIn 0.7s ease forwards;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8); */
  /* z-index: 100; */
}
.no-blur {
  min-height: 100vh;
}
.signup-header {
  text-align: center !important;
}
.container-main {
  position: relative;
}
.the-one {
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 640px) {
  .container-signup {
    height: auto;
    padding-bottom: 20%;
  }
  .signup-card {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .signup-form {
    width: 92%;
    margin: auto;
  }
  .container-signup {
    padding-top: 5%;
    height: auto;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 450px) {
  .signup-card {
    width: 96%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8); 
  }
}
