.profile-form  {

    padding-right: 10%;
    padding-left: 10%;
}
.my-form {
    padding-top: 5%;
    padding-bottom: 5%;
}
.btn-profile {
    background-color: black;
    color: white;
}
.btn-profile:hover {
    background-color: orange;
    color: white;
}