.container-avatar
 {
    margin-top: 30px;
}
.container-pic {
    display: flex;
    justify-content: center;
}
.choose-file {
    display: flex;
    justify-content: center;
}
.btn-addaprofile,
.btn-uploadprofile {
    width: 100%;
    padding: 1px;
    border-width: 0;
    transition: 0.5s;
}
#file-button {
    display: none;
}
.file-label {
    transition: 0.5s;
    /* border-radius: 25px; */
    width: 100%;
    background-color: black;
    padding: 14px;
    border-width: 0;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}
.bg-image {
    /* width: 300px;
    height: 150px; */
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4%;
    border-radius: 50%;
    margin-bottom: 7%;
  }
  .trash {
    float: right;
    margin-top: 3%;
    margin-right: -7%;
    
}
.trash-icon {
    padding: 3px; 
    border-width: 3px !important;
    border-color: black !important;
    border-radius: 50% ;
      
  }
  .save-error {
    text-align: center;
    padding: 2%;
  }