.login-signup {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 2%;
}
.link-login,
.sit-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: black;
  border-radius: 25px;
  width: 100px;
  border: solid;
  border-color: #a56d04;
  border-width: 3px;
  text-transform: capitalize;
  transition: 0.7s;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  height: 50px;
}
.signup {
  border: solid !important;
  border-color:#a56d04 !important;
  border-width: 3px !important;
  border-radius: 25px !important;
  background-color: black !important;
  color: white !important;
  text-transform: capitalize !important;
  font-size: 1em !important;
  margin-right: 15px;
  transition: 1s !important;
  height: 50px;
}
.signup:hover,
.sit-link:hover,
.link-login:hover {
  background-color:  #ffa500 !important;
  color: black !important;
}

@media screen and (max-width: 414px) {
  .login-signup {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 2%;
    /* position: fixed; */
  }

  .signup {
    border: solid !important;
    border-color:#a56d04 !important;
    border-width: 1px !important;
    font-size: 0.8em !important;
    margin-right: 15px;
    transition: 0.7s !important;
    height: 30px;
  }
  .link-login,
  .sit-link {
    width: 70px !important;
    border-color: #a56d04 !important;
    border-width: 1px !important;
    transition: 0.7s !important;
    font-size: 0.8rem !important;
    font-weight: 600 !important;
    height: 30px;
  }
}