.modal-header,
.modal-footer {
  background-color: rgb(222, 217, 217) !important;
}
.contact-body {
  background-color: rgb(243, 238, 238);
}
.contact-title {
  padding: 5%;
}
.modal-avatar {
  display: flex;
  justify-content: center;
  width: 30% !important;
}

.p-story-profile-contact {
  white-space: pre-wrap;
}
.p-story-profile-contact,
.p-about {
  padding-right: 5%;
  padding-left: 5%;
}
.friends-since {
  display: flex;
  align-items: center !important;
  margin: 0;
}
.contact-footer {
  width: 100%;
}
.contact-close {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 992px) {
 
  .p-story {
    padding-right: 1%;
    padding-left: 1%;
  }
}
@media screen and (max-width: 414px) {
  .contacts {
    min-height: 65vh !important;
  }
  
  .p-info-story,
  .about-contact,
  .p-info-contacts,
  .modal-footer-contacts {
    padding: 3px !important;
    background-color: bisque;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
    .contacts {
      min-height: 70vh !important;
    }
}