.container-profile {
  height: 100vh;
}
.container-card {
  padding-top: 15%;
}
.profile-card {
  width: 500px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
}
.profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(17, 11, 1, 0.4); */
}
.profile-p,
.profile-footer,
.profile-header
{
  text-align: center;
  
}
