.fa-check {
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: green;
  }
  .signup-login-error {
    text-align: center;
    margin: 3%;
  }
  .form-label-login {
    color: black;
    margin-left: 3%;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .container-login {
    background-color: orange;
  }
  .form-input {
    font-style: oblique;
    padding: 2px;
    margin-left: 3%;
  }
  .btn-login {
    background-color: black !important;
    margin-left: 3%;
    margin-bottom: 3%;
  }
  .btn-login:hover {
    background-color: rgba(1, 1, 1, 0.544) !important;
  }