/* .container-login {
  height: 80vh;
} */

.login-card {
  width: 400px;
  border-radius: 25px;
  background-color: rgba(6, 3, 0, 0.77) !important;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.login-header {
  text-align: center;
}
.fa-check {
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  background-color: green;
}
.signup-login-error {
  text-align: center;
  margin: 3%;
}
.form-label-login {
  color: black;
  margin-left: 3%;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}
.container-login {
  background-color: orange;
}
.form-input {
  font-style: oblique;
  padding: 2px;
  margin-left: 3%;
}
.btn-login {
  background-color: black !important;
  margin-left: 3%;
  margin-bottom: 3%;
}
.btn-login:hover {
  background-color: orange !important;
}
.login-question {
  margin-top: 5%;
  text-align: center;
}
.signup-link {
  text-decoration: none;
  margin-left: 5px;
}
.row-login-buttons {
  padding-right: 10px;
  padding-left: 10px;
}
.btn-login {
  /* display: flex; */
  /* justify-content: center !important; */
  width: 100%;
}
@media screen and (max-width: 414px) {
  .login-form {
    width: 92%;
    background-color: orange;
    margin: auto;
  }
  .container-login {
    padding-top: 5%;
    height: auto;
  }
  .login-question {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10%;
  }
}

