
.container-main {
  height: 100vh;
}
.landing-nav {
  display: none;
}
.login-signup {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 2%;
}
/* .signup-link,
.site-link {
  background-color: black;
  margin: 1px;
} */
.signup,
.site {
  font-size: 1.2rem !important;
  color: white !important;
 
}
.signup:hover,
.site:hover {
  color: orange !important;
}
.landing-world {
  display: flex;
  justify-content: flex-start; 
  font-size: 2.5rem;
}
.landing-tmi {
  display: flex;
  justify-content: flex-end; 
  color: orange;
  font-size: 2.5rem;
  margin-left: -45px;
}
.landing-tmiworld {
  margin-top: 50px;
  
}
.container-landing {
  background-color: black;
}
.text-title {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 3%;
}

.first-title {
  text-align: center;
}
.parallax {
  background-image: url("../../assets/images/bowlcroped.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second {
  background-image: url("../../assets/images/bowlandbudha.jpeg");
  min-height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third {
  background-image: url("../../assets/images/buddha.jpeg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .container-main {
    height: auto;
  }
  .parallax {
    background-attachment: scroll;
    width: 100%;
    height: 400px;
  }
  .second {
    background-attachment: scroll;
    width: 100%;
    height: 400px;
  }
  .third {
    background-attachment: scroll;
    width: 100%;
    height: 400px;
  }
  /* .landing-footer {
    background-color: black;
    width: 100% !important;
  } */
  .signup-link,
  .landing-tmi,
  .landing-world {
    display: none;
  }
  .landing-nav {
    display: block ;
  }
} 
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
