.landing-nav {
  display: none;
}
.login-signup {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 2%;
}
.signup,
.site {
  font-size: 1.2rem !important;
  color: white !important;
  background-color: black !important;
  margin: 2px;
}
.signup:hover,
.site:hover {
  color: orange !important;
}
.landing-world {
  display: flex;
  justify-content: flex-start;
  font-size: 4rem;
}
.landing-tmi {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem;
  margin-left: -75px;
}
.landing-tmiworld {
  margin-top: 100px !important;
}
.container-landing {
  background-color: black;
}
.text-title {
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  padding: 3%;
}
.first-title {
  text-align: center;
  color: rgb(171, 171, 176);
  font-size: 2rem;
  margin-bottom: 2%;
}
.intro-text {
  color: rgb(171, 171, 176);
  font-size: 1.2rem;
}
.parallax {
  background-image: url("../../assets/images/bowlcroped.jpeg");
  min-height: 1200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second {
  background-image: url("../../assets/images/bowlandbudha.jpeg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third {
  background-image: url("../../assets/images/buddha.jpeg");
  height: 1200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-footer {
  background-color: black;
  width: 100% !important;
  min-height: 20%;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax,
  .second,
  .third {
    background-attachment: scroll;
  }

}
@media screen and (max-width: 640px) {
  .container-main {
    height: auto;
  }
  .parallax {
    background-attachment: scroll;
    width: 100%;
    min-height: 0;
    height: 400px;
  }
  .second {
    background-attachment: scroll;
    width: 100%;
    height: 400px;
  }
  .third {
    background-attachment: scroll;
    width: 100%;
    height: 400px;
  }
  .signup-link,
  .landing-tmi,
  .landing-world {
    display: none;
  }
  .landing-nav {
    display: block;
  }
}
@media screen and (max-width: 414px) {

  .landing-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
  }
  .container-main {
    padding-top: 130px;
    min-height: 70vh !important;
  }
  .signup-link,
  .landing-tmi,
  .landing-world {
    display: none;
  }
  .landing-nav {
    display: block;
  }
  .first-title {
    font-size: 1.2rem;
    margin-bottom: 5%;
  }
  .intro-text {
    text-align: center;
    font-size: 0.9rem;
  }
  .container-nav-login {
    padding-top: 100px;
  }
}
