/* .container-signup {
    height: 80vh;
} */
/* .signup-form-container {
    padding-top: 10%;
    
} */
.signup-card {
  width: 400px;
  border-radius: 25px;
  background-color: rgba(6, 3, 0, 0.77) !important;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
/* .signup-form {
    width: 40%;
    background-color: orange;
    margin: auto;
} */
.password-input,
.username-input,
.email-input {
  display: flex;
  align-items: center !important;
  width: 95%;
  height: 60px;
}
.container-success {
  height: 50vh;
}
.appointment-success {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fa-check {
  margin-top: -7%;
  margin-bottom: 5%;
  padding-bottom: 0 !important;
  font-size: 4rem;
  height: 90px !important;
  width: 90px !important;
  border-radius: 50%;
  color: white;
  background-color: green;
  border: solid !important;
  border-color: white !important;
  border-width: 7px !important;
}
.signup-success {
  height: 0 !important;
}
.signup-error-message {
  width: 95%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
/* .signup-login-error {
    text-align: center;
  } */
.form-label-signup {
  color: black;
  margin-left: 3%;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100% !important;
}
.signup-header {
  text-align: center;
}

.form-input {
  font-style: oblique;
  padding: 2px;
  margin-left: 3%;
}
.btn-signup {
  background-color: black !important;
  width: 95%;
  /* height: 60px; */
  margin-left: auto;
  margin-right: auto;
}
.btn-signup:hover {
  background-color: orange !important;
  color: black !important;
}
.row-signup-buttons {
  padding-right: 10px;
  padding-left: 10px;
}
.btn-signup {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .container-signup {
    height: auto;
    padding-bottom: 20%;
  }
  .signup-card {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .signup-form {
    width: 92%;
    margin: auto;
  }
  .container-signup {
    padding-top: 5%;
    height: auto;
  }
}
@media screen and (max-width: 375px) {
  .signup-card {
    width: 320px;
  }
}
