
.footer {
  background-color: black;
  height: 250px;
  padding-top: 3%;
}
.footer-item,
.linkedIn {
  padding-top: 3%;
  text-align: center;
}
.linkedin-container {
display: flex;
justify-content: center;
}
@media screen and (max-width: 414px) {
  .footer-container {
    height: 220px;
  }
  .footer {
    margin-right: auto;
    margin-left: auto;
    width: 92%;
    height: 200px;
   
  }
}
