.footer {
  background-color: black;
  height: 250px;
}
.footer-item {
  padding-top: 3%;
  text-align: center;
}
@media screen and (max-width: 414px) {
  .footer {
    width: 96%;
    margin: auto;   
    margin-bottom: 2%;
    height: 120px;
  }
}
