.footer {
  background-color: black;
  height: 270px;
  padding-top: 2%;
}
.footer-item,
.linkedIn {
  text-align: center;
}
.linkedin-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 414px) {
  .footer-container {
    padding-bottom: 4% !important;
  }
  .footer {
    margin-right: auto;
    margin-left: auto;
    width: 92%;
    padding-top: 3%;
    padding-bottom: 2%;
  }
}
