.here-botton {
  font-size: 16px !important;
  text-transform: lowercase !important;
}
.info-delete {
  text-align: center;
}
.delete-modal {
  width: 100%;
}
.row-delete-button {
  display: flex;
  justify-content: center;
}
.col-delete-button {
  width: 100% !important;
}
.col-delete-button:hover {
  background-color: orange !important;
  color: black !important;
}
