.map-container {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 8%;
  }
  .result {
    text-align: center;
    padding-top: 2%;
    font-size: 1.3rem;
    color: white;
    
  }
  .map {
    background-color: orange;
    margin-right: 10%;
    margin-left: 10%;
  }
  .btn-coordinates {
    border-radius: 25px;
    width: 200px;
    background-color: black;
    margin-top: 5%;
    border-width: 0;
    font-size: 1.2rem;
  }
  .btn-location-save {
    border-radius: 25px;
    width: 200px;
    background-color: black;
    /* margin-top: 5%; */
    border-width: 0;
    font-size: 1.2rem;
  }
  .container-btn {
    display: flex;
    justify-content: center;
   
  }
  