
.profiles-column {
  display: flex;
  justify-content: center;
}
.card-locations {
  border-width: 0 !important;
  margin-bottom: 2%;
}
.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
}
.btn-profile {
  display: flex;
  align-items: flex-end !important;
  padding: 0 !important;
  font-size: 1.2rem !important;
}
.location {
  font-size: 1.2rem;
}
.list-body {
  background-color: rgb(243, 238, 238);
}
.pic-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-modal-footer {
  width: 100%;
}
.profile-friends {
  width: 100%;
  display: flex;
  align-items: center !important;
  background-color: rgb(243, 238, 238);
}
.friendship-request:hover {
  background-color: orange !important;
  color: black !important;
}
.row-modal-footer {
  width: 100%;
}
.col-close-button {
  display: flex;
  justify-content: center;
}
.close-btn {
  width: 100% !important;
}
.close-btn:hover {
  background-color: orange !important;
  color: black !important;
}

@media screen and (max-width: 414px) {
  .location {
    font-size: 0.7rem;
  }
  .icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 35%;
  }
  .btn-profile {
    display: flex;
    align-items: flex-end !important;
    padding: 0 !important;
    font-size: 1rem !important;
  }
}
