@media screen and (max-width: 414px) {
    .members-nav {
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }
    .members {
      padding-top: 115px;
      min-height: 70vh !important;
    }
}