.response-image-container {
  display: flex !important;
  align-items: center !important;
}

@media screen and (max-width: 460px) {
 .response-list {
    width: 100% !important;
    padding-top: 10%;
    padding-right: 0;
    padding-left: 0;
 }
}
