.notification {
    height: 100vh;
    margin: 0 !important;
}
.requests-list,
.response-list {
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 5%;
}
.request-title,
.response-title {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
    margin: 0;
}
.request-avatar,
.response-avatar {
    border-radius: 50%;
    height: 43px;
    width: 43px;
  }
  .btn-accept {
    border-radius: 25px;
    margin-top: 0 !important;
    width: 250px;
    background-color: black;
    padding: 1px;
    border-width: 0;
    font-size: 1.3rem;
  }