.neighbors {
    height: 100vh;
}
.locations-list-title {
    text-align: center;
}
.container-pic {
    border-radius: 50%;
    width: 150px;
      height: 150px;
}
.profiles-column {
    display: flex;
    justify-content: center;
}
.card-locations {
    border-width: 0;
    margin-bottom: 2%;
}
.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}
.btn-profile {
    display: flex;
    align-items: flex-end !important;
    padding: 0 !important;
    font-size: 1.2rem !important;
}
.location {
    font-size: 1.2rem;
}
.row-modal-footer {
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .container-pic {
      width: 110px;
      height: 110px;
    }
  }
@media screen and (max-width: 992px) {
    .container-pic {
        width: 100px;
        height: 100px;
    }
  }
@media screen and (max-width: 700px) {
    .container-pic {
        width: 80px;
        height: 80px;
    }
  }
@media screen and (max-width: 414px) {
    .neighbors {
        height: auto;
    }
    .locations-list-title {
        text-align: center;
        padding: 5%;
        font-size: 1rem;
    }
    .location {
        font-size: 0.7rem;
    }
    .container-pic {
      width: 55px;
      height: 55px;
    }
    .icon-container {
        display: flex;
        justify-content: flex-end;
        margin-right: -25%;
    }
    .btn-profile {
        display: flex;
        align-items: flex-end !important;
        padding: 0 !important;
        font-size: 1rem !important;
    }
  }