.container-neighbors {
    height: 100vh;
}
.locations-list-title {
    text-align: center;
    padding: 5%;
}
.container-pic {
    border-radius: 50%;
}
.profiles-column {
    display: flex;
    justify-content: center;
}
.card-locations {
    border-width: 0;
    margin-bottom: 2%;
}
.icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}
.btn-profile {
    display: flex;
    align-items: flex-end !important;
    padding: 0 !important;
    font-size: 1.2rem !important;
}
