/* .login-card {
  width: 400px;
  border-radius: 25px;
  background-color: rgba(6, 3, 0, 0.77) !important;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.login-header {
  text-align: center;
}
.fa-check {
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  background-color: green;
}
.signup-login-error {
  text-align: center;
  margin: 3%;
}
.form-label-login {
  color: black;
  margin-left: 3%;
  font-size: 1.2rem;
  font-weight: 600;
}
.container-login {
  background-color: orange;
}
.email-login-input,
.password-login-input {
  height: 60px;
  width: 95%;
}
.login-question {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  color: grey !important;
}

.signup-link {
  text-decoration: none;
  margin-left: 5px;
}

.btn-login {
  background-color: black !important;
}
.btn-login:hover {
  background-color: orange !important;
  color: black;
}
.btn-text-signup {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -2px;
  font-size: 1.1rem;
  text-transform: lowercase !important;
  font-size: 1.2rem !important;
}
.btn-text-reset {
  margin-top: -2px;
  margin-left: -18px;
  margin-right: -18px;
  font-size: 1.2rem !important;
  text-transform: lowercase !important;
}
@media screen and (max-width: 640px) {
  .login-form {
    width: 92%;
    margin: auto;
  }
  .container-login {
    padding-top: 5%;
    height: auto;
  }
  .login-card {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .login-question {
    margin-top: 10%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10%;
  }
  .login-question-reset {
    margin-top: -50px;
  }
}
@media screen and (max-width: 375px) {
  .login-card {
    width: 320px;
    margin: auto;
  }
} */
