.main-map {
  padding-top: 15%;
  padding-bottom: 3%;
}

.result {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

.count-map {
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 30%;
}

