.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* height: 280px; */
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.btn-logout {
    background-color: black;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    
}
.logout {
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
}