.profile {
    /* height: 100vh; */
    padding-top: 12%;
  }
  .profile-card {
    width: 30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: black !important;
  }
  .profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-p,
  .profile-footer,
  .profile-header
  {
    text-align: center;
  }
  .edit-column {
    padding: 2% !important;
  }
  .btn-edit,
  .btn-delete {
  width: 100%;
 
  }
  .btn-edit:hover,
  .btn-delete:hover {
  background-color: orange !important;
  color: black !important;
  width: 100%;
  }
.bottom-text {
  margin: 10%;
  margin-top: 10% !important;

}
  .delete-btn {
    border: none;
  }
  /* .profile-footer {
    padding: 2%;
  } */
  @media screen and (max-width: 1600px) {
    .profile-card {
      width: 40%;
    }
  }
  @media screen and (max-width: 414px) {
    .profile {
    height: auto;
  }
    .profile-card {
      width: 96%;
      margin-top: 15%;
    }
    .bottom-text {
      margin: 2%;
      margin-top: 10%;
      margin-bottom: 10%;
    justify-content: center;
    }
    .profile-footer {
     padding: 0;
     width: 100%;
     border-style: none !important;
    }
  }
  /* ----------- iPad 3, 4 and Pro 9.7" ----------- */
  
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 2) {
   .profile-card {
      width: 70%;
      margin-top: 10%;
    }
  }