.loginsignup {
  height: 100vh;
}

.go-back {
  margin-bottom: 10%;
}
.btn-go-back {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: black;
  width: 200px;
  border-radius: 25px;
  border: 0;
}
.btn-go-back:hover {
  background-color: rgba(236, 120, 11, 0.4);
}
.container-nav {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
}
.nav {
  background-color: rgba(236, 120, 11, 0.4);
  border-color: transparent !important;
}

#nav-login-tab,
#nav-signup-tab {
  border-width: 0 !important;
  font-weight: 600;
  border-color: transparent !important;
}
.active {
  background-color: orange !important;
  border-style: none !important;
  border-color: transparent !important;
}
@media screen and (max-width: 640px) {
  .loginsignup {
    height: auto;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .container-nav {
    width: 90%;
    padding-bottom: 15%;
  }
} 