.landing-footer {
  background-color: black;
  height: 250px;
  padding-top: 3%;
}
.landing-footer-item,
.linkedIn-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-footer-concerns {
  text-align: center;
}
@media screen and (max-width: 414px) {
  .landing-footer-container {
    height: 220px;
  }
}
